<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.SQLServer2008Dialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.microsoft.sqlserver.jdbc.SQLServerDriver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:sqlserver://localhost;database=Feed;integratedSecurity=true;
        </property>
        <property name="connection.autocommit">false</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--<property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            root123
        </property>-->

        <!-- List of XML mapping files -->
        <mapping resource="feedmessage.hbm.xml"/>
        <mapping resource="rsschannel.hbm.xml"/>
        <mapping resource="rssindex.hbm.xml"/>

    </session-factory>
</hibernate-configuration>